* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


nav, header, section {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    /*margin-bottom: 10px; */

}

.nav .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight:bolder;
}

.nav {
    width: 75%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

 ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a, .nav {
    text-decoration: none;
    color: #fff
}

.header {
    width: 75%;
    display: flex;
    gap: 26px;
    align-items: center;
    padding: 70px 0;
} 

@media (max-width: 1100px) {

    .header {
    flex-direction: column;
    
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery .mediaitem {
        width: 60%;
    }

}

.container {
    flex: auto;
}

@media (max-width: 720px) {
    .quote {
        font-size: 26px;
    }

    .cta {
        flex-direction: column;
        gap: 35px;
        align-items: center;
        text-align: center;
    }
}


.header > * {
    flex: 1; 
}


.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 20px;
}

.hero-picture img {
    width: 100%;
}

.hero-btn {
    padding:  10px 30px;
    margin-top: 35px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
}


section{
    background: #fff ;
}
.section {
    width: 75%;
    color: #1f2937;
    text-align: center;
    background: #fff;
    padding: 35px 0;
}

.gallery {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.gallery > * {
    height: 250px;
    width: 100%;

}

.mediaitem img {
    width: 100%;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.quote-container {
    width: 70%;
    font-size: 36px;
}

.author {
    font-size: 22px;
    font-style: normal;
    text-align: end;
    font-weight: bold;
    margin-top: 10px;
}

aside {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #e5e7eb;
}

article {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}

.cta {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    background-color: #3882f6;
    color: #fff;
}

.cta-btn {
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #3882f6;
    border: 2px solid #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #fff;

}

footer div {
    padding: 15px 0;
}
/* debugging*/

